# Dependency directories
node_modules/
package-lock.json

# Build outputs
/build
build/

# Vercel
.vercel

# Operating system files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local tools
gh_2.93.0_macOS_arm64/

# Local envs
.env*.local
